---
import { RESUME_DATA } from "@/data/resume-data";
import Section from "@/components/ui/Section.astro";
import Card from "@/components/ui/Card.astro";
import CardHeader from "@/components/ui/CardHeader.astro";
import CardContent from "@/components/ui/CardContent.astro";
---

<Section>
  <h2 class="text-xl font-bold">Education</h2>
  {
    RESUME_DATA.education.map((education) => (
      <Card>
        <CardHeader>
          <div class="flex items-center justify-between gap-x-2 text-base">
            <h3 class="font-semibold leading-none">{education.school}</h3>
            <div class="text-sm tabular-nums text-gray-500">
              {education.start} - {education.end}
            </div>
          </div>
        </CardHeader>
        <CardContent class="mt-2">{education.degree}</CardContent>
      </Card>
    ))
  }
</Section>
