---
import { RESUME_DATA } from "@/data/resume-data";
import Section from "@/components/ui/Section.astro";
import Card from "@/components/ui/Card.astro";
import CardHeader from "@/components/ui/CardHeader.astro";
import CardContent from "@/components/ui/CardContent.astro";
import Badge from "@/components/ui/Badge.astro";
---

<Section class="print-force-new-page scroll-mb-16">
  <h2 class="text-xl font-bold">Projects</h2>
  <div class="-mx-3 grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2 lg:grid-cols-3">
    {
      RESUME_DATA.projects.map((project) => (
        <Card class="flex flex-col overflow-hidden border border-muted p-3">
          <CardHeader>
            <div class="space-y-1">
              <h3 class="text-base font-semibold leading-none tracking-tight">
                {project.link ? (
                  <a
                    href={project.link.href}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex items-center gap-1 hover:underline"
                  >
                    {project.title}
                    <span class="size-1 rounded-full bg-green-500" />
                  </a>
                ) : (
                  project.title
                )}
              </h3>
              {project.link && (
                <div class="hidden font-mono text-xs underline print:visible">
                  {project.link.href
                    .replace("https://", "")
                    .replace("www.", "")
                    .replace("/", "")}
                </div>
              )}
              <p class="font-mono text-xs text-muted-foreground">
                {project.description}
              </p>
            </div>
          </CardHeader>
          <CardContent class="mt-auto flex">
            <div class="mt-2 flex flex-wrap gap-1">
              {project.techStack.map((tag) => (
                <Badge class="px-1 py-0 text-[10px]" variant="secondary">
                  {tag}
                </Badge>
              ))}
            </div>
          </CardContent>
        </Card>
      ))
    }
  </div>
</Section>
